{% load wagtailimages_tags %}

<h2>{{ heading }}</h2>
<fieldset>
<ul id='{{ image_field_id }}-annotation-container' class="fields">
	{% for child in panel.children %}
		{{ child.bound_field.errors }}
	{% endfor %}
	<li class="{% for class in image_field.classes %} {{ class}}{% endfor %}">
		{{ image_field.render_as_field  }}

		<div class='annotation-details'>
			<div data-image-container class='annotated-image--container'>
				{% image image_field.get_chosen_item original %}
			</div>
			<div data-annotation-forms class='annotated-image--forms'>

			</div>
		</div>
		<div data-annotation-form>
			{{ annotation_form }}
		</div>
	</li>
	<li data-annotations-field class="{% for class in annotations_field.classes %} {{ class}}{% endfor %}">
		{{ annotations_field.render_as_field }}
	</li>
</ul>
</fieldset>
